Source: node-pinkie
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Shanavas M <shanavas@disroot.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , mocha <!nocheck>
 , node-sinon <!nocheck>
 , node-underscore <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-pinkie
Vcs-Git: https://salsa.debian.org/js-team/node-pinkie.git
Homepage: https://github.com/floatdrop/pinkie
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-pinkie
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Itty bitty little widdle twinkie pinkie ES2015 Promise implementation
 Node.js module - Itty bitty little widdle twinkie pinkie ES2015
 Promise implementation
 .
 Node.js is an event-based server-side JavaScript engine.
